* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*-----------*/

body {
	font-family: "Roboto", sans-serif;
	color: #212121;
	font-size: 14px;
	letter-spacing: 0.03em;
}

button {
	cursor: pointer;
	font-family: inherit;
}

.color {
	background-color: #f5f4fa;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding: 94px 0;
}

/*-------------header--------------*/

.container-header {
	display: flex;
	padding: 24px 0;
	align-items: center;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	color: #212121;
	margin-right: 90px;
}

.logo:focus {
	background-color: #ffffff;
	box-shadow: none;
	color: #212121;
}

.logo-span {
	color: #2196f3;
}

.header {
	list-style: none;
	border-bottom: 1px solid #ececec;
}

.navigation-list {
	display: flex;
}

.list-item {
	font-weight: 500;
	color: #212121;
	letter-spacing: 0.02em;
}

.list-li {
	margin-right: 50px;
}

.list-li:last-child {
	margin-right: 0;
}

.list-item {
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item::after {
	content: "";
	position: absolute;
	top: 43px;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #2196f3;
	border-radius: 2px;
	transition: background-color, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	opacity: 0;
}

.list-item:hover::after {
	opacity: 1;
}

.list-item:hover {
	background-color: #ffffff;
	color: #2196f3;
}

.list-item:focus {
	background-color: #ffffff;
	color: #2196f3;
	box-shadow: none;
}

.header-email {
	margin-right: 45px;
}

.header-email,
.header-tel {
	font-weight: 500;
	color: #757575;
	letter-spacing: 0.02em;
	line-height: 1.14;
	display: inline-flex;
	transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
	margin-left: auto; /*320px*/
	display: flex;
}

.header-email:hover {
	color: #2196f3;
	background-color: #ffffff;
}

.header-email:focus {
	background-color: #ffffff;
	color: #2196f3;
	box-shadow: none;
}

.header-tel:hover {
	color: #2196f3;
	background-color: #ffffff;
}

.header-tel:focus {
	background-color: #ffffff;
	color: #2196f3;
	box-shadow: none;
}

.contacts-icon {
	margin-right: 10px;
	fill: currentColor;
}

.contacts-icon:hover {
	fill: #2196f3;
}

/*--------------hero---------------*/

.hero {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-main.jpg);
}

.section-hero {
	padding: 200px 0;
}

.hero-title {
	color: #ffffff;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
}

.hero-button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.btn {
	background-color: #2196f3;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	padding: 10px 30px;
	border-radius: 4px;
}

/*------------benefits-------------*/

.section-benefit {
	padding-top: 94px;
}

.benefits-benefit {
	display: flex;
	justify-content: space-between;
}

.benefit {
	width: 260px;
}

.benefit-title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.14;
	margin-bottom: 10px;
}

.benefit-text {
	color: #757575;
	line-height: 1.71;
}

.benefit-div {
	background-color: #f5f4fa;
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
	padding: 25px 100px;
}

/*-------------devices-------------*/

.devices-title {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.16;
	margin-bottom: 50px;
}

.devices-photos {
	display: flex;
	justify-content: space-between;
}

.device-thumb {
	position: relative;
}

.device-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;

	padding: 27px 82px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
}

/*--------------team---------------*/

.team {
	background-color: #f5f4fa;
}

.team-workers {
	display: flex;
	text-align: center;
}

.team-workers > li {
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-title {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.16;
	margin-bottom: 60px;
}

.worker:not(:last-child) {
	margin-right: 30px;
}

.workers-div {
	padding: 30px 0px 16px 0px;
}

.worker-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	margin-bottom: 10px;
}

.position {
	font-size: 16px;
	color: #757575;
	line-height: 1.18;
}

.team-soc {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

.soc-team {
	border-radius: 50%;
	width: 44px;
	height: 44px;
	background: #fff;
	fill: #afb1b8;
	transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-team:hover,
:focus {
	background-color: #2196f3;
	fill: #fff;
}

/*-------------clients------------*/

.clients-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}

.clients {
	display: flex;
	justify-content: center;
}

.clients-li:not(:last-child) {
	margin-right: 30px;
}

.clients-btn {
	border: 1px solid #afb1b8;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	background-color: #fff;
	fill: #afb1b8;
	transition: border, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-btn:hover {
	border: 1px solid #2196f3;
	fill: #2196f3;
}

.clients-btn:focus {
	background-color: #fff;
	fill: #2196f3;
	border: 1px solid #2196f3;
	box-shadow: none;
}

/*-------------footer--------------*/

.footer {
	background-color: #2f303a;
	padding: 60px 0;
}

.container-footer {
	display: flex;
	align-items: baseline;
}

.footer-block {
	margin-right: 70px;
}

.block-title {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	color: #ffffff;
	line-height: 1.19;
}

.footer-span {
	color: #2196f3;
}

.address {
	font-style: normal;
	color: #ffffff;
	line-height: 1.71;
	margin-top: 25px;
}

.footer-email,
.footer-tel {
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.71;
	display: block;
	margin-top: 15px;
	transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email:hover,
:focus {
	color: #2196f3;
}

.footer-tel:hover,
:focus {
	color: #2196f3;
}

.block2-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: #ffffff;
	margin-bottom: 20px;
}

.footer-soc {
	display: flex;
}

.soc-li:not(:last-child) {
	margin-right: 10px;
}

.soc {
	border-radius: 50%;
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.1);
	transition: background-color, color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc:hover {
	background-color: #2196f3;
}

.soc-svg {
	fill: #fff;
}

/*-------------PORTFOLIO------------*/

/*--------------filter--------------*/

.filter {
	text-align: center;
	margin-bottom: 50px;
}

.filter-item,
.filter-items {
	font-size: 16px;
	line-height: 1.7;
	font-weight: 500;
	background-color: #f5f4fa;
	display: inline-block;
	margin-left: 8px;
}

.filter-items {
	padding: 6px 22px;
	border-radius: 4px;
}

.filter-items:last-child {
	margin-left: 0;
}

.filter-items:hover,
:focus {
	background-color: #2196f3;
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------shop---------------*/

.shop-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * 30px);
	margin-top: calc(-1 * 30px);
}

.item:focus {
	background-color: #fff;
}

.shop-item {
	width: calc((100% - 90px) / 3);
	margin-left: 30px;
	margin-top: 30px;
	color: #eeeeee;
	border: 1px solid #eeeeee;
	position: relative;
	overflow: hidden;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.shop-thumb {
	position: relative;
	overflow: hidden;
}

.shop-thumb > img {
	display: block;
	max-width: 100%;
}

.shop-item-hover {
	margin: 0;
	padding: 63px 24px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: #fff;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(100%);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
}

.shop-item:hover .shop-item-hover {
	opacity: 1;
	transform: translateY(0);
}

.item-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	color: #212121;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}

.item-text {
	font-size: 16px;
	line-height: 1.9;
	color: #757575;
	line-height: 1.87;
}

.item-div {
	padding: 20px;
	border: 1px solid #eeeeee;
}

/*--------------backdrop---------------*/

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	transition: transform, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	display: block;
	position: absolute;
	width: 528px;
	height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	background-color: #fff;
	box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 8px;
	margin-left: auto;
	margin-right: 8px;
}

.modal-icon {
	width: 18px;
	height: 18px;
}
